.form {
  margin: 10%;
}

.table {
  margin: 10%;
}

.findingstable {
  margin: 10%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}